.footer{
	height: 800px;
	overflow: hidden;
	background-color: black;
	position: relative;
}

.background{
	position: absolute;
	overflow: hidden;
	height: 800px;
}

.footer h1{
	color: white;
}

.our-address{
	float: left;
	margin-left: 8%;
	width: 20%;
}

.our-address .tittle{
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}

.our-address .content{
	color: white;
	font-size: 15px;
	line-height: 27px;
	font-family: Poppins-light;
	margin-bottom: 15px;
}

.our-address a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	line-height: 38px;
	font-family: Poppins-light;
}

.our-address pre{
	display: inline;
}

form{
	width: 45%;
	float: left;
	margin: 0 12% 40px 15%;
}

.contact-form .tittle{
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}

.contact-form .input-guide{
	color: white;
	font-size: 13px;
	margin: 10px 0;
}

.contact-form .column{
	width: 46%;
	float: left;
	margin-bottom: 20px;
}

#first-column{
	margin-right: 8%;
}

input[type=text], textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    color: white;
    font-family: Poppins;
    font-size: 13px;
    border: 2px solid rgb(40, 40, 40);
    border-radius: 3px;
    outline: none;
    transition: border-color 0.5s;
}

input[type=text]:hover, textarea:hover{
	border-color: rgb(200, 200, 200);
}

input[type=text]:focus, textarea:focus{
	border-color: rgb(200, 200, 200);
}

input[type=submit]{
	margin-top: 10px;
	display: block;
	position: relative;
	right: -32px;
	float: right;
	border: none;
	background-color: white;
	height: 50px;
	width: 170px;
	font-family: Poppins;
	color: rgb(20, 20, 20);
	font-size: 16px;
	border-radius: 2px;
}

hr{
	border: 1px solid rgb(20, 20, 20);
}

.copyright{
	color: white;
	font-size: 15px;
	margin: 30px 0 0 8%;
}