body{
    margin: 0;
    padding: 0;
    width: 100%;
}

@keyframes blurout{
    0% {opacity: 0; width: 100vw; height: 100vw;}
    0.0001% {opacity: 1;}
    50% {opacity: 1;}
    99.9999% {opacity: 0; width: 100vw; height: 100vw;}
    100% {width: 0; height: 0;}
}

.cover-animation{
    position: fixed;
    top: 0;
    height: 0;
    width: 0;
    background-color: black;
    opacity: 0;
    z-index: 15;
    animation: blurout;
    animation-duration: 4s;
}

@keyframes loading-bar-1{
    0% {height: 2px; width: 150px;}
    100% {height: 2px; width: 150px;}
}

.loading-bar-background{
    position: fixed;
    margin: auto;
    top: 50vh;
    left: calc(50vw - 75px);
    height: 0;
    width: 0;
    background-color: rgb(180, 180, 180);
    z-index: 16;
    animation-name: loading-bar-1;
    animation-duration: 1s;
}

@keyframes loading-bar-2{
    0% {height: 2px; width: 0px;}
    100% {height: 2px; width: 150px;}
}

.loading-bar{
    position: fixed;
    margin: auto;
    top: 50vh;
    left: calc(50vw - 75px);
    height: 0;
    width: 0;
    background-color: white;
    z-index: 17;
    animation-name: loading-bar-2;
    animation-duration: 1s;
}

.header{
    display: block;
    height: 100vh;
}

@keyframes blur-in-out{
    0% {opacity: 0;}
    6.7% {opacity: 1;}
    33.3% {opacity: 1;}
    40% {opacity: 0;}
}

.header-img{
    width: 100%;
    min-width: 1000px;
    filter: brightness(50%);
    position: absolute;
    opacity: 0;
    clip: rect(0px, 100vw, 100vh, 0px);
    overflow: hidden;
    animation-name: blur-in-out;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.header-img:nth-of-type(2){
    animation-delay: 5s;
}

.header-img:nth-of-type(3){
    animation-delay: 10s;
}

.header-intro{
    position: absolute;
    font-family: Arial;
    font-size: 4.5vw;
    color: white;
    top: 36%;
    left: 8%;
}

.header-intro-subcover-animation{
    position: absolute;
    font-family: Arial;
    font-size: 4.5vw;
    color: white;
    top: 36%;
    left: 8%;
    z-index: 16;
}

@keyframes subcover-animation{
    0% {font-size: 0; padding: 4.5vw 0 0 0;}
    30% {font-size: 4.5vw; padding: 0; transform: rotate(0deg);}
    70% {font-size: 4.5vw; padding: 0; transform: rotate(180deg);}
    100% {font-size: 0vw; padding: 4.5vw 0 0 0; transform: rotate(180deg);}
}

.header-intro-subcover-animation b{
    display: inline-block;
    font-size: 0;
    padding: 0;
    background-color: white;
    animation-name: subcover-animation;
    animation-duration: 2.1s;
    animation-delay: 1s;
    z-index: 16;
}

@keyframes appear{
    0% {font-size: 0;}
    0.0001% {font-size: 4.5vw;}
    1% {font-size: 3.3vw;}
    2% {font-size: 4.5vw;}
    3% {font-size: 4.1vw;}
    5% {font-size: 4.5vw;}
    33.3% {font-size: 4.5vw;}
    33.3001% {font-size: 0;}
}

.changing-text{
    font-size: 0;
    display: inline;
    font-weight: bold;
    text-decoration: underline;
    animation-name: appear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.changing-text:nth-of-type(2){
    animation-delay: 5s;
}

.changing-text:nth-of-type(3){
    animation-delay: 10s;
}

#check-it-block{
    height: 50px;
    width: 200px;
    line-height: 50px;
    position: absolute;
    display: block;
    top: 63%;
    left: 8%;
}

#transparent-circle{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

@keyframes fly{
    0% {top: 0px;}
    8% {top: -4px; opacity: 1}
    15% {top: 30px; opacity: 0}
    22% {top: -30px; opacity: 0}
    29% {top: 4px; opacity: 1}
    37% {top: 0px;}
}

#arrow{
    position: absolute;
    font-family: Calibri;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 19px;
    top: 0px;
    transform: rotate(90deg);
    animation-name: fly;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

#check-it{
    position: absolute;
    font-family: Arial;
    font-size: 27px;
    font-weight: bold;
    color: white;
    left: 60px;
}

#decoration1{
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
}