.menu-background{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 140px;
	opacity: 0;
	z-index: 5;
	transition: opacity 0.5s;
}

.logo{
	position: fixed;
	top: 35px;
	left: 8%;
	z-index: 10;
}

.menu{
 	overflow: hidden;
	position: fixed;
	top: 32px;
	right: 120px;
	width: 100%;
	z-index: 9;
}

.menu a{
	float: right;
	display: block;
	color: rgb(180, 180, 180);
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	transition: all 0.5s;
}

.menu a:nth-of-type(7){
	color: white;
}

.menu a:hover{
	color: rgb(240, 240, 240);
}