.our-works{
	position: relative;
	height: 80vw;
}

.our-works .container{
	width: 33.3333%;
	height: 40vw;
	overflow: hidden;
	float: left;
	position: relative;
}

.our-works .content-img{
	position: relative;
	left: -220px;
	width: 200%;
	filter: brightness(60%);
	transition: all 1s;
}

.our-works .container:nth-of-type(1) .content-img{
	width: 210%;
}

.our-works .container:nth-of-type(3) .content-img{
	width: 160%;
	left: -130px;
}

.our-works .container:nth-of-type(4) .content-img{
	width: 160%;
	left: -120px;
}

.our-works .content-img:hover{
	transform: scale(1.1, 1.1);
	filter: brightness(30%);
}

.our-works i{
	position: absolute;
	top: 45%;
	left: 11%;
	font-size: 37px;
	color: white;
	pointer-events: none;
}

.our-works .text1{
	position: absolute;
	top: 65%;
	left: 10%;
	font-size: 19px;
	font-weight: bold;
	color: rgb(220, 220, 220);
	pointer-events: none;
}

.our-works .text2{
	position: absolute;
	top: 70%;
	left: 10%;
	font-size: 40px;
	color: white;
	pointer-events: none;
}

.our-works .container:first-of-type .text1{ top: calc(65% - 50px); }
.our-works .container:first-of-type .text2{ top: calc(70% - 50px); line-height: 50px;}

.load-more-link{
	text-decoration: none;
}

.load-more-button{
	width: 110px;
	padding: 13px 0;
	color: white;
	background-color: black;
	text-align: center;
	margin: auto;
	box-shadow: 0px 0px 10px rgb(200, 200, 200);
	transition: all 0.5s;
}

.load-more-button:active{
	background-color: rgb(0, 98, 204);
}

#popup-background{
	background-color: rgba(0, 0, 0, 0.6);
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	position: fixed;
	z-index: 30;
}

#player{
	position: fixed;
	width: 60vw;
	height: 33.75vw;
	top: 100px;
	left: 20vw;
	z-index: 31;
	visibility: hidden;
}

.popup-img{
	position: fixed;
	height: 80vh;
	top: 10vh;
	left: 50%;
    transform: translate(-50%, 0);
	z-index: 31;
	visibility: hidden;
}

.img-index{
	color: rgb(220, 220, 220);
	position: fixed;
	bottom: 5%;
	left: 50%;
    transform: translate(-50%, 0);
	z-index: 31;
	visibility: hidden;
}

.fa-caret-right, .fa-caret-left{
	width: 20px;
	line-height: 500px;
	font-size: 50px;
	color: rgb(140, 140, 140);
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 31;
	visibility: hidden;
	display: block;
}

.fa-caret-left{
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
	left: 20px;
	padding-right: 50px;
}

.fa-caret-right{
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
	right: 20px;
	padding-left: 50px;
}

.fa-caret-right:hover, .fa-caret-left:hover{
	color: white;
}